@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .Oops {
    background: url("../img/bg.jpg");
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
    /* font-size: 230px; */
  }
}
